/* Created By Ahammed Rohit */

*{
    box-sizing: border-box;
    
    
}
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body{
    height: 89vh;

    background: #F32639;
background: -webkit-linear-gradient(top left, #F32639, #5B9AEC);
background: -moz-linear-gradient(top left, #F32639, #5B9AEC);
background: linear-gradient(to bottom right, #F32639, #5B9AEC);

}


h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    color: white;
}

div{
    
    float: left;
    width: 33.33%;
    
    
}

section{
    
    position: relative;
    width: auto;
    height: auto;
    margin: 10px;
    background-color: aquamarine;
    
    background-color:rgb(255, 230, 230);
    border: 1px solid black;
    border-radius: 10px;
}
label{
    font-size: 25px;
    position: absolute;
    right: 0px;
    border-radius: 10px;
    border: 1px solid black;
    height: 45px;
    width: 100px ;
    text-align: center;
    padding: 1.2%;
    color: ;
    
}

label.c1{
    background-color: #c9f89d;
    opacity: .9;

}

label.c2{
    background-color: rgb(199, 175, 255);
    opacity: .9;
}

label.c3{
    background-color: rgb(236, 149, 161);
    opacity: .9;
}

p{
    padding: 15px;
    margin-top: 40px;
    font-size: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
div
{
width: 50%;
}

div:nth-child(4){
width: 100%;
}
}

@media (max-width: 767px) {
div {
width: 100%;
}
p{
    font-size: 20px;
}

}